extends ../layout

block stylesheets
 link(href="/stylesheets/article/home.css",rel="stylesheet")

block content
  article.container
    header
      h1.logo
        a(href="/")
          img(src="/images/icon/logo.png",width="215",height="30",alt="Green House")
      h3.title
        span(style="color:#cc171c;") 原创.
        span 阅读
        span.small 抛砖引玉，共建家园
    section.main
      h3.section-title 生之所悟
      ul.articles
        - each article in articles
         li.article
          a.wrap(href="/articles/#{article.slug}")
            h4.title= article.title
            p.type
              span 分类：
              span= article.type
            p.summary
             =article.summary
            p.info
             span.author= article.author
             span.date= article.date
             a.hidden(href="/articles/remove_action/#{article._id}") 删除
    section.cate-box
      h3.section-title 目录分类
      ul.cate-list
       li.cate
         a(href="/articles/colorful") 生活
       li.cate
         a(href="/articles/f2e") 前端
       li.cate
         a(href="/photos") 流光


