extends ../layout

block stylesheets
  style.
   .fa{color:#777;}
   ul{ list-style:none; margin:0; padding:5px 15px;}
   ul li{
    padding:10px 0;
    border-top:1px solid #eee;
   }
   .node .dir{display:none;}
   .node .name{margin-left:5px;}

   h1.title{color:#a6d518;text-align:center;}

block content
  section.container
    h1.title 前端Ku
    ul.dir.root
     - each node,index in tree.children
       li.node
         .title.trigger
           span.fa(class="#{node.icon}")
           big.name #{node.name}
         ul.dir(style="#{index==0?'display:block':''}")
          - each child in node.children
           li.node
             .title
              span.fa(class="#{child.icon}")
              span.name #{child.name}
             ul.articles
              - each article in child.children
               li.article
                 .title
                   span.fa(class="#{article.icon}")
                   a(href="/articles/f2e/#{article.slug}")
                    span.name #{article.name}
block scripts
 script.
  $('.node .trigger').click(function(e){
    var dir=$(this).next('.dir');
    dir.slideToggle();
  });