extends ../layout

block styles
  link(rel="stylesheet",href=stylesheet_path("build/bestme/editor.min.css","b6c221ed75eb87262ba11a2220c5da1f-"))

block content
  .page.editor-page
      form#editor-form.content
        input.hidden(name="_id", value=_id)
        //section.panel
          h3.title 年终总结
          input.text.space(type="text", name="year_2016", placeholder="用一句话总结你的 2016", value=year_2016)
        section.panel
          h3.title 年度最佳照片
          ul.photo-list
            each holder,index in ['eg: 每一张照片，都有一个故事等你诉说', 'eg: 风景如怡，不缀千里之行', 'eg: 年年花相似，岁岁人不同', 'eg: 人生最美初见时']
              li.item.row
                .picture-wrap.col-xs-2
                  a.btn-upload.fancybox(href="/media/image")
                    .picture
                      - var imgSrc = locals["photo_picture_" + index];
                      if imgSrc
                        img(src=imgSrc)
                    span.picture-desc 照片
                  input.hidden(name="photo_picture_#{index}", value=imgSrc)
                .desc.col-xs-10
                  input.text.link(type="text", name="photo_title_#{index}", placeholder="照片标题", value=locals["photo_title_" + index])
                  textarea.textarea(name="photo_desc_#{index}", placeholder=holder)
                    = locals["photo_desc_" + index]

        section.panel#music-panel
          h3.title 年度最佳音乐
          ul.music-list
            li.item.row
              .picture-wrap.col-xs-2
                a.btn-upload.fancybox(href="/media/image")
                  .picture
                    if music_cover
                      img.music_cover_img(src=music_cover)
                  span.picture-desc 封面图
                input.music_cover_hidden.hidden(name="music_cover", value=music_cover)
              .desc.col-xs-10
                .input-group(style="margin-bottom: 5px")
                  input.text.title.form-control.music_title(type="text", name="music_title", placeholder="可点击按钮搜索音乐...", value=music_title, style="margin-bottom: 0")
                  a.btn.btn-default.input-group-addon.btn-music-search.fancybox(href="/media/music") 搜索音乐
                input.text.link.music_link(type="text", name="music_link", placeholder="音乐链接，推荐使用网易云音乐的链接", value=music_link)
                textarea.textarea(name="music_desc", placeholder="把音乐给你的，也分享给朋友们吧")
                  = music_desc

        section.panel
          h3.title
           | 更多年度之最
          .input-group(style="margin: 10px 0px 5px 0px")
            input.text.form-control.baidu_search(style="margin-bottom: 0", placeholder="填入关键词，通过百度图片搜索素材")
            a.btn.btn-default.input-group-addon.fancybox.baidu_link(data-href="http://image.baidu.com/search/index?tn=baiduimage&ie=utf-8&fm=index&pos=history&word={{word}}", href="http://image.baidu.com/search/index?tn=baiduimage&ie=utf-8&fm=index&pos=history&word=", style="margin-left: 8px;") 搜索图片
          ul.other-list
            each holder,index in ['eg: 年度最佳电影，游戏，基友等', 'eg: 年度最佳书籍，最佳团队等', 'eg: 年度最搞笑，最佳单身狗等']
              li.item.row
                .picture-wrap.col-xs-2
                  a.btn-upload.fancybox(href="/media/image")
                    .picture
                      - var imgSrc = locals["others_picture_" + index];
                      if imgSrc
                        img(src=imgSrc)
                    span.picture-desc 照片
                  input.hidden(name="others_picture_#{index}", value=imgSrc)
                .desc.col-xs-10
                  input.text.type(type="text", name="others_type_#{index}", placeholder="最佳电影 | 书籍 | 基友", value=locals["others_type_" + index])
                  input.text.title(type="text", name="others_title_#{index}", placeholder="如：血战钢锯岭", value=locals["others_title_" + index])
                  textarea.textarea(name="others_desc_#{index}", placeholder=holder)
                    = locals["others_desc_" + index]

        //section.panel
          h3.title 新年寄语
          input.text.space(type="text", name="year_2017", placeholder="送一句话，给新年的自己",value=year_2017)
        .controls
          .pull-left(style="font-size: 12px; color: #fff;")
            | * 编辑数据不与当前页面对应
            br
            | * 同时，建议经常保存数据
          a.btn.btn-success.pull-right(dui-click="save") 保存更改
          //a.btn.btn-warning.pull-right(style="margin-right:10px;") 取消编辑



block scripts
  script(src=javascript_path("bus/bestme/editor.js","ea0b891309723f9901d15021946147c6-"))


