.page.photo-page
  #photo-grid-thumb.photo-swiper(data-swiper="#top-photos-swiper")
   .row.thumb-item
     .col-xs-6.thumb-cell.swiper-thumb.thumb-image.ani(data-index="0", style="background-image:url(#{photo_picture_0})", swiper-animate-effect="fadeIn", swiper-animate-duration="2s", swiper-animate-delay="0.6s")
       .bg-cover
         .text.center= photo_title_0 || '照片标题'
     .col-xs-6.thumb-cell.ani(swiper-animate-effect="fadeIn", swiper-animate-duration="2s", swiper-animate-delay="0.3s")
       h3.thumb-title.center 光阴 ,
   .row.thumb-item
     .col-xs-6.thumb-cell.swiper-thumb.thumb-image.ani(data-index="1", style="background-image:url(#{photo_picture_1})", swiper-animate-effect="fadeIn", swiper-animate-duration="3s", swiper-animate-delay="1.2s")
       .bg-cover
         .text.center= photo_title_1 || '照片标题'
     .col-xs-6.thumb-cell.swiper-thumb.thumb-image.ani(data-index="2", style="background-image:url(#{photo_picture_2})", swiper-animate-effect="fadeIn", swiper-animate-duration="3s", swiper-animate-delay="1.8s")
       .bg-cover
         .text.center= photo_title_2 || '照片标题'
   .row.thumb-item
     .col-xs-6.thumb-cell.ani(swiper-animate-effect="fadeIn", swiper-animate-duration="3s", swiper-animate-delay="2.5s")
       .thumb-text.center
         | 不再是驱策的长鞭，
         br
         | 它变为你口袋里的物什，
         br
         | 可以细细打磨
     .col-xs-6.thumb-cell.swiper-thumb.thumb-image.ani(data-index="3", style="background-image:url(#{photo_picture_3})", swiper-animate-effect="fadeIn", swiper-animate-duration="3s", swiper-animate-delay="2.2s")
        .bg-cover
          .text.center= photo_title_3 || '照片标题'

  .list#top-photos-swiper.swiper-container
    .parallax-bg(style="background-image:url(http://img2.maka.im/759857/2106499546568f83a55a0a27.39321214.jpg@0-0-638-1005a_90Q.src)",data-swiper-parallax="-23%",data-swiper-parallax-duration="1000")
    .swiper-wrapper
      each top,index in [3, 2, 1, 0]
        - var title = locals["photo_title_" + index];
        - var imgSrc = locals["photo_picture_" + index];
        .item.swiper-slide(style="z-index=#{top}")
          .parallax-warpper(data-swiper-parallax="-100")
            h1.title.ani(swiper-animate-effect="fadeInDown", swiper-animate-duration="0.5s", swiper-animate-delay="0.3s")
              = title
              .close.swiper-close

            .photo.ani(swiper-animate-effect="zoomIn", swiper-animate-duration="0.6s", swiper-animate-delay="0.3s")
              img(src=imgSrc, width="100%")
            p.desc.ani(swiper-animate-effect="fadeInUp", swiper-animate-duration="0.5s", swiper-animate-delay="1s")
              != (locals["photo_desc_" + index] || '').replace(/\n/g, '<br/>') || '照片描述...'